@charset "UTF-8";

body {
    background-color: black;
    color: white;
}
h1{
  text-align: center;
}
p {
    color: white;
    padding-left: 15px;
    
}
b {
    font-size: 1.5rem;
}
h2{
  text-align: center;
}
h4 {
    padding-left: 100px;
}
.alert {
  text-transform: uppercase;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: white;
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor:pointer;
}
.nome1{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
  }
  .nome2{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .idade1{
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
  }
  .idade2{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .frase{
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
  }
  .frase2{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .frase4{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .tipos_var{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .conversao{
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .entrada{
    text-align: left;
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .numero{
    text-align: left;
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .num{
    text-align: left;
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  .letra{
    text-align: left;
    color: white;
    box-shadow: 1px 2px 5px rgba(250,250,200);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor:pointer;
  }
  